%table.table.table-striped
  %thead
    %tr
      %th #
      %th Имя
      %th Синонимы
      %th Пол
  %tbody
    - @names.each do |name|
      %tr
        %td= name.id
        %td= link_to name.name, edit_admin_name_path(name)
        %td
          %ul.list-unstyled
            - name.synonyms.each do |subname|
              %li= link_to subname.name, edit_admin_name_path(subname)

        %td= name.sex_id == 0 ? 'жен' : 'муж'
