%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Sex_id
      %th Counter
  %tbody
    - @names.each do |name|
      %tr
        %td= name.name
        %td= name.sex_id
        %td > 1
