
%p
  @current_user.id = #{current_user.id.inspect}
%br
%h1 Удаление Диалога выбранного Юзера (delete_dialoge)
%br
%p
  @user_dialogue = #{@user_dialogue.inspect}
%p
  @user_dialogue_name = #{@user_dialogue_name.inspect}
%br
%br

= link_to 'Смотреть все диалоги:', messages_path
%br
