
%p
  @current_user.id = #{current_user.id.inspect}
%br
%h1 Пометка Диалога как СПАМ - т.е. выбранный Юзер - спамер (spam_dialoge)
%br
%br
%br

= link_to 'Смотреть все диалоги:', show_all_dialoges_path
%br
