= render 'connect_bttn'
#search_results_paginator
  %a.prev.disabled{href: '#', onclick: "showPrevSearchResult()"} &larr; Назад
  %h4
    Результат
    %span#current_search_result ...
    из
    %span#total_search_results ...
  %a.next.disabled{href: '#', onclick: "showNextSearchResult()"} Вперед &rarr;
