.page-header
  %h2
    Технические параметры поиска<br />
    %small
      (Кол-во пользователей сайта =
      = User.count
      )
  %h5
    Примечание: флюктуация времени составляет ~ +/- 100 мсек
  %h4
    Скачать файл параметров поиска 'weafam_search_logs.xls':<br />
    -#= link_to "Upload To Excel", search_logs_display_admin_search_service_logs_path(format: "xls")
    -#<br />
    -#= link_to "Upload To Csv", search_logs_display_admin_search_service_logs_path(format: "csv")

= paginate @search_service_logs, :theme => 'admin'
= render 'table'
= paginate @search_service_logs, :theme => 'admin'


