



1. Header

<header id="topHead">
  <section>
    <%= link_to image_tag("/assets/logo/square/IWP.png"), root_path %>
  </section>
</header>


<li><a href="#">Админ</a></li>
<li><a href="#">Мои новости</a></li>
<li><a href="#">Общение</a></li>
<li class="active"><a href="#">Вход</a></li>


<li><a href="#">Обо мне</a></li>
<li><a href="#">Регистрация</a></li>
<li><a href="#">Мои настройки</a></li>

<li><a href="#">Выход</a></li>

<img src="/assets/logo/square/IWP.png" class="img-responsive" alt="" class="img-circle">

<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

</div><!-- /.navbar-collapse -->
