



1. Header

<li><a href="#">Админ</a></li>
<li><a href="#">Мои новости</a></li>
<li><a href="#">Общение</a></li>
<li class="active"><a href="#">Вход</a></li>


<li><a href="#">Обо мне</a></li>
<li><a href="#">Регистрация</a></li>
<li><a href="#">Мои настройки</a></li>

<li><a href="#">Выход</a></li>

