.btn,
input[type=submit].btn{
  display:inline-block;
  color:#fff;
  text-decoration:none;
  border-radius:12px;
  font-weight:bold;
  padding:0 21px;
  height:42px;
  border-radius:21px;
  line-height:43px;

  font-size:14px;

  border:none;
  outline:none;
  cursor:pointer;


  &.large{
    height:60px;
    padding:0 32px;
    border-radius:30px;
    line-height:60px;
    font-size:18px;
  }

  &.green{
    background-color:$green-color;
    &:hover{
      background-color:green;
    }
  }

  &.red{
    background-color:$red-color;
  }
}
