.dropdown{
  position:relative;
  display:inline-block;
}

.dropdown > a{
    color:blue;
    // width:20px;
    // height:20px;
    // border:1px solid grey;
    // font-size:21px;
}

.dropdown ul{
  overflow:hidden;
  z-index:20;
  right:0;
  position:absolute;
  background-color:#fff;
  font-size:16px;
  font-weight:normal;
  border-radius:5px;
  box-shadow:0 0 4px rgba(0,0,0,0.7);

  li a{
    text-decoration:none;
    display:inline-block;
    padding:10px;
    color:blue;
    width:220px;
    border-bottom:1px solid #ccc;
    &.grey{color:grey;}
    &:hover{
      background-color:blue;
      color:#fff;
    }
  }

  .relation_list{
    li a{
      padding-left:30px;
      background-color:#f5f5f5;

      &:hover{
        background-color:blue;
        color:#fff;
      }

      &:before{
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        content:'\f18e';
        margin-right:5px;
        color:grey;
      }
    }
  }

  // li:last-child a{
  //   border-bottom:none;
  // }
}
