.container{
  width:980px;
  margin:0 auto;
}


.col_1_2{
  width:480px;
  margin-right:20px;
  float:left;
}


.col_2_2{
  width:480px;
  float:right;
}

.content{
  margin-top:50px;


  h1, h2, h3, h4{
    font-weight:600;
    font-size:18px;
  }


}
