ul.path-list{
  margin-top:21px;
  border:1px dotted grey;

  li{
    display:inline;
    margin-right:5px;
    padding:10px;

  }

  span{color:grey;}

  li a{
    font-size:18px;
    height:32px;
    line-height:32px;
  }

  li.author a{
    font-weight:600;
    font-size:26px;
    height:32px;
    line-height:32px;
  }
}



.circle-view{
  position:relative;
  width:100%;
}


.current-circle{
  position:relative;
  overflow:hidden-y;
}


.circle-table{
  position:relative;
  width:100%;
}



ul.path-search-list{
  li.active{
    background:#ff5f67;
    position:relative;

    // Arrows
    &:before {
       position: absolute;
       bottom:-12px;
       left: 12px;
       display: block;
       border-left: 12px solid transparent;
       border-right: 12px solid transparent;
       border-top: 12px solid #ff5f67;
       content: '';
   }
  }
}
