ul.path-list{
  margin-top:21px;
  padding:10px;
  border:1px dotted grey;
  li{
    display:inline;
    margin-right:5px;
  }
  span{color:grey;}
}



#circle-view{
  position:relative;
  width:100%;
}


#current-circle{
  position:relative;
  overflow:hidden-y;
}


#circle-table{
  position:relative;
  width:100%;
}
