#progrees-bar{
  margin-top:50px;
  margin-bottom:20px;
  text-align:justify;
  position:relative;
  width:100%;
  height:30px;
  border:1px ditted grey;


  li{
      display:inline;
      position:relative;
      a{
        text-decoration:none;
        color:#fff;
        font-weight:700;
        text-align:center;
        display:inline-block;
        width:30px;
        height:30px;
        line-height:30px;
        border-radius:15px;
        background-color:#ccc;
      }
      &.active{
        a{background-color:$green-color;}
      }
  }


  &:before{
    content:'';
    height:2px;
    width:100%;
    background-color:#ccc;
    position:absolute;
    top:14px;
  }



  li.stretch {
    display: inline-block;
    width: 100%;

    /* if you need IE6/7 support */
    *display: inline;
    zoom: 1
  }

}
