#promo{
  width:100%;
  padding:32px 0;
  text-align:center;

  h1{
    font-size:41px;
    color:#252525;
  }


  h2{
    font-size:21px;
    line-height:29px;
    margin-top:21px;
    margin-bottom:32px;
    color:grey;
    font-style:italic;
    font-family:Georgia, serif;
  }
}
