.center-align{
  text-align:center;
}



.tmp_table{
  margin-top:32px;
  width:100%;
  border-collapse: collapse;

  h2{display:inline;}

  th{font-weight:600;}

  td, th{padding:10px;}
  tr{border-bottom:1px solid #ccc;}
  ul{text-align:left;margin:0 auto;}
}


.results_table{
  width:100%;
  tr:last-child{border:none;}
  td{width:25%;}
}


table{
  .grey{color:grey;}
  .name{font-weight:bold;}
  .green{color:green;}
  .italic{font-style:italic;}
  .center{text-align:center;}
  .left{text-align:left;}
}


.control{
  width:100%;
  display:inline-block;
  margin-bottom:25px;
  position:relative;

  label{
    color:grey;
  }
}
