.center-align{
  text-align:center;
}



.tmp_table{
  margin-top:32px;
  width:100%;
  border-collapse: collapse;

  th{font-weight:600;}

  td, th{padding:10px;}
  tr{border-bottom:1px solid #ccc;}
}
