#welcome-form{

  h2{
    font-size:24px;
    font-weight:700;
    margin-bottom:25px;

    span{color:$green-color;}
  }

  .errors{
    color:#bb1313;
    margin-bottom:12px;
    background-color:#fffad8;
    padding:6px;
    display:block;
    font-size:14px;
    line-height:16px;
    // font-style:italic;
  }

  form{
    margin:0 auto;

    .body{
      padding:21px;
      background-color:#f4f4f4;
      border-radius:10px 10px 0 0;
    }

    .footer{
        padding:21px;
        background-color:#c2c1c1;
        border-radius:0 0 10px 10px;
    }
  }


  .control{
    width:100%;
    display:inline-block;
    margin-bottom:25px;

    label{
      color:grey;
    }

    .help-text{
      font-size:small;
      color:grey;
      display:inline-block;
      font-style:italic;
    }

    &.left{
      text-align:left;
      width:48%;
      float:left;
    }

    &.right{
      text-align:left;
      width:48%;
      float:right;
    }

    &.sex_confirmation{
      margin-bottom:10px;
      label{
        color:#000;
        margin-right:12px;
        font-size:14px;
        font-weight:bold;
      }
    }

  }

}

// hide search info
.ui-helper-hidden-accessible{display:none;}

ul.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
  border:1px solid #ccc;
  background-color:rgba(255,255,255,0.8);
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
  box-sizing:border-box;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:12px;
	line-height:1.5;
	zoom:1;
}

.ui-state-hover,
.ui-widget-content
.ui-state-hover,
.ui-widget-header
.ui-state-hover,
.ui-state-focus,
.ui-widget-content
.ui-state-focus,
.ui-widget-header
.ui-state-focus{
  background-color:#fbff7d;
}
