<h2>Вы запросили новый пароль на сайте Мы все родня:</h2>

<p>Для входа в ваш аккаунт, используйте следующие данные:</p>
<p>
Логин: <%= @email -%>
<br/>
Пароль: <%= @password -%>
</p>
<p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.</p>

<p>Перейти на сайт: <a href="http://weallfamily.ru">Мы все – родня</a></p>
