<h2>Вы запросили новый пароль на сайте Мы все родня:</h2>

<p>Для входа в ваш аккаунт, используйте следующие данные:</p>
<p>
  <strong>Логин:</strong><%= @email -%>
  <br/>
  <strong>Пароль:</strong><%= @password -%>
</p>
<p>Если вы не запрашивали восстановление пароля, просто проигнорируйте это письмо.</p>
