<p>Благодарим Вас, за участие в тестировании проекта <strong>Мы все – родня!</strong></p>

<p>
С Вашей помощью, были выявлены и устранены ошибки в работе программы.
К сожалению, внесенные корректировки не позволяют на данном этапе тестирования сохранить созданное вами дерево и мы вынуждены его удалить.
</p>
<p>
Просим с пониманием отнестись к этому и повторно <a href="http://weallfamily.ru/signup/author">зарегистрироваться</a>.
</p>
<p>
Спасибо, что участвуете в тестировании самого абициозного преокта на стыке новейших технологий и научных теорий. Вместе мы сделаем это!
</p>

<p>С уважением, команда проекта <a href="http://weallfamily.ru">Мы все – родня</a></p>
