<h2>Для входа на сайт "Мы все родня" используйте следующие данные:</h2>

<p>
  Логин: <%= @email -%>
  <br />
  Пароль: <%= @password -%>
</p>

<p>В дальнейшем, вы сможете изменить свой пароль в настройках вашего аккаунта</p>


<p>Перейти на сайт: <a href="http://weallfamily.ru">Мы все – родня</a></p>
