<h2>Для вохода на сайт используйте следующие данные:</h2>

<p>
  Логин: <%= @email -%>
  <br/>
  Пароль: <%= @password -%>
</p>

<p>В дальнейшем, вы сможете изменить свой пароль в настройках вашего аккаунта</p>
