.container.pending
  %h1 Уважаемый пользователь, ваша регистрация отправлена на модерацию!

  %p
    При регистрации вы использовали имена, которых у нас еще нет. К сожалению, технология поиска родственников,
    требует утверждения новых имен модератором.

  %p В самое ближайшее время время мы вышлем вам информации о досутпе к вашему аккаунту.

  %p.grey.italic С уважением, команда проекта "Мы все родня"
