%h3 Ввод информации об ОТЦЕ
= form_tag(store_father_path, remote: true, id: 'father_form') do
  %div
    = label_tag 'Введи имя Отца:'
    %div
      = select_tag :father_name_select, options_for_select(@sel_names_male, selected = @father_name), :prompt => 'Выбери имя'
  = submit_tag 'Ввод'
