%h2 Ввод информации  о ДОЧЕРИ
= form_tag(store_daugther_path, remote: true, id: 'daugther_form') do
  %div
    = label_tag 'Введи имя Дочери:'
    %div
      = select_tag 'daugther_name_select', options_for_select(@sel_names_female, selected = @daugther_name),  :prompt => 'Выбери имя'
  = submit_tag 'Ввод'
