%section.admin
  %h3 Страница SAVE START TABLES - сохранение стартового дерева - Ближний Круг

  %p
    Исходный Массив профилей: @profiles_array: #{@profiles_array.inspect}
  %p
    Массив профилей - в таблицу: @profile_arr: #{@profile_arr.inspect}







  %h4 Возврат на страницу Лэндинг:  #{link_to "Landing -->", landing_path}
