%div{style: "margin-top:100px;margin-bottom:75px;"}
  %h1 Список зарегистрированных пользователей
  %table.tmp_table
    - User.all.reverse.each do |user|
      %tr
        %td
          \#
          = user.id
        - unless user.profile.blank?
          %td= user.profile.name.name.mb_chars.capitalize
        %td= user.email
        %td= link_to "Войти под этим пользователем", login_as_user_path(user.id)
