%br

.disconnect
  %h1 Профили "похожих" родственников ранее объединялись.
  -#Существуют логи объединения.
  -#%h2 Номер последнего Лога:  #{@log_connection_id}
  %h2 Разъединение объединенных ранее "похожих" профилей в предыдущее состояние
  %br

  = link_to 'Просмотр дерева', home_path, class: [:bttn, :blue]
.after_disconnect
  %h2
