= render 'path'

#graph-wrapper

%script
  var access_token = '#{current_user.access_token}';
  $(function(){ GraphHomeModule.init(); getCircles( {profile_id: #{current_user.profile_id}, token: access_token } )});
