- current_step = session[:current_step] if current_step.nil?
%ul#progrees-bar
  %li{class: ('active' if current_step =~ /author/)} 1
  %li{class: ('active' if current_step =~ /mothers|fathers/)} 2
  %li{class: ('active' if current_step =~ /brothers|sisters|have_brothers|have_sisters/)} 3
  %li{class: ('active' if current_step =~ /have_couple|couple/)} 4
  %li{class: ('active' if current_step =~ /have_children|have_sons|sons|have_daughter|daughter/)} 5
  %li.stretch
