%h2 У вас есть дети?

.control
  = link_to "Да", go_to_start_step_path("have_sons"), class: [:btn, :green, :large]
  = link_to "Нет", go_to_start_step_path("have_daughter"), class: [:btn, :red, :large]
