%h2 Как зовут ваших детей?

.control
  = text_field_tag "children[name][]", params[:name], class: :autocomplete_field_names, placeholder: "Начните вводить ваше имя...", data:{names: @names}

.control
  = link_to 'Добавить еще', '#', class: [:btn, :red, :large], id: :clone
  = submit_tag 'Дальше', class: [:btn, :green, :large]
