%h2 Как зовут вашего супруга?

.control
  = text_field_tag "couple[name]", params[:name], class: :autocomplete_field_names, placeholder: "Введите имя...", data:{names: @names}

.control
  = submit_tag 'Дальше', class: [:btn, :green, :large]
