%h2 Как вас зовут?
.control
  = text_field_tag "circle[self][name]", params[:name], class: :autocomplete_field_names, placeholder: "Ваше имя...", data:{names: @names}
.control
  = submit_tag 'Дальше', class: [:btn, :green, :large]
