%h2 Как зовут вашу маму?
.control
  = text_field_tag "cirlce[father][name]", params[:name_select], class: :autocomplete_field_names_female, placeholder: "Имя матери...", data:{names: @names_female}


.control
  = submit_tag 'Дальше', class: [:btn, :green, :large]
