%h2 У вас есть родные сёстры?

.control
  = link_to "Да", go_to_start_step_path("sisters"), class: [:btn, :green, :large]
  = link_to "Нет", go_to_start_step_path("have_children"), class: [:btn, :red, :large]
