%h2 Как ваше имя?

.control
  = text_field_tag "circle[self][name]", params[:name], class: :autocomplete_field_names, placeholder: "Начните вводить ваше имя...", data:{names: @names}
.control
  = submit_tag 'Дальше', class: [:btn, :green, :large]
