#promo
  %h1 Мы все &mdash; родня!
  %h2
    Проект не только докажет, что
    %br
    все люди между собой имеют родственные связи,
    %br
    но и покажет эти отношения.
  = link_to "Присоединиться", :signup, class: [:btn, :green, :large]
