#promo
  %h1 Собери свою родню!
  %h2
    Здесь твоя родня. Знакомься и общайся!
    %br
    Будь в курсе событий твоих родных. Расскажи о себе.
    %br
    Пожми руку своим родным!

  = link_to "Присоединиться", :start, class: [:btn, :green, :large]




-# - content_for :debugger do
-#   #footer
-#     .container.center-align
-#       %h2 Страница LANDING - вход Юзера
-#       %h3 Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы
-#       %h4
-#         Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
-#       %h3 или если Юзер незарегенный, то переход в Старт для ввода стартового дерева (БК)
-#       %h4
-#         Если впервые на сайте, то переход на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
