#promo
  %h1 Собери свою родню!
  %h2
    Здесь твоя родня. Знакомься и общайся!
    %br
    Будь в курсе событий твоих родных. Расскажи о себе.
    %br
    Пожми руку своим родным!

  = link_to "Присоединиться", :signup, class: [:btn, :green, :large]
