.container#updates_feeds
  %h1 Твои обновления

  - if @paged_update_data.blank?
    %table
      %tr
        %td.left.grey.italic
          Обновлений - нет
  - else
    %table
      %tr
        %th Содержание
        %th Дата обновления

      - @paged_update_data.each do |updates_feed|
        %tr
          %td.left= updates_feed[:update_text]
          %td.grey.italic
            = time_ago_in_words(updates_feed[:update_created])
            назад


    = paginate @paged_update_data



  %br
  = link_to 'К просмотру твоего дерева', home_path
