%section.admin
  %div
    %p
      @session_id: #{@session_id.inspect}
  %h1 Страница ADMIN
  %h2
    =link_to 'Просмотр и редактирование таблиц', rails_admin_path
  %h2
    =link_to 'Служебный метод 1', service_method_1_path
  %h2
    =link_to 'Служебный метод 2', service_method_2_path
