%section.admin
  %div
    %p
      @session_id: #{@session_id.inspect}
    %p
      @first_var: #{@first_var.inspect}
    %p
      @navigation_var: #{@navigation_var.inspect}
  %h1 Страница ADMIN - служебные методы
  %h2
    =link_to 'Просмотр и редактирование таблиц', rails_admin_path
