<section class="admin">

  <div>
    <p>@session_id: <%= @session_id.inspect %></p>
    <p>@first_var: <%= @first_var.inspect %></p>
  </div>


  <h3> Страница CONVERSATION - методы общения Юзера с другими Юзерами: темы беседы события сообщения</h3>







  <p>Возврат на Главную страницу:  <%= link_to "Возврат на Главную -->", pages_main_path %> </p>

  <p>Возврат на страницу Старт:  <%= link_to "Возврат на Старт -->", pages_start_path %> </p>



</section>
