%section.admin
  %h2 Страница LANDING - вход Юзера
  -#  %p
  -#    @sel_names: #{@sel_names.inspect}
  %h3 Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
  %h3 или если Юзер незарегенный, то переход в Старт для ввода стартового дерева (БК)
  %h4
    Если впервые на сайте, то переход на страницу Старт:  #{link_to "Старт -->", enter_myself_path}
  -#%h2
  -#  Переход на страницу Админа:  #{link_to "Админ -->", admin_path}
