%section.admin
  %h2 Страница LOGIN - вход Юзера
  %div
    %p
      @navigation_var: #{@navigation_var.inspect}
    / <p>@sel_names: <haml:loud> @sel_names.inspect </haml:loud></p>
  %p Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы
  %p
    Переход на Главную страницу, если Пользователь зарегистрирован:  #{link_to "Переход на Главную -->", pages_main_path}
  %p
    или если Юзер незарегенный, то переход на страницу Старт для ввода БК:  #{link_to "Переход в Старт -->", pages_start_path}
