<section  class="admin">

  <h2> Страница LOGIN - вход Юзера </h2>


  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
    <p>@sel_names: <%= @sel_names.inspect %></p>
  </div>

  <p>Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы </p>
  <p>Переход на Главную страницу:  <%= link_to "Переход на Главную -->", pages_main_path %> </p>

  <p>или если Юзер незарегенный, то переход в Старт для ввода БК </p>
  <p>Переход на страницу Старт:  <%= link_to "Переход в Старт -->", pages_start_path %> </p>


</section>
