<header id="topHead">
  <section class="container_12">

    <div>
      <p>@first_var: <%= @first_var.inspect %></p>
    </div>

    <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>







  </section>
</header>