<!--<header >-->
<!--<header id="topHead">-->
  <!--<section class="container_12">-->
<section >

    <h3> Страница MAIN - для основной работы: просмотр и наращивание древа, общение, совпадения </h3>


    <div>
      <p>@first_var: <%= @first_var.inspect %></p>
    </div>



    <p>Возврат на страницу Старт:  <%= link_to "Возврат в Старт -->", pages_start_path %> </p>



    <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
<!--</header>-->