
<section class="admin">

  <h3> Страница MYPAGE - страница Юзера: вся инфа о Юзере, настройки и т.д. </h3>


  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
    <p>@navigation_var: <%= @navigation_var.inspect %></p>
  </div>



  <p>Возврат на страницу Старт:  <%= link_to "Возврат в Старт -->", pages_start_enter_path %> </p>



  <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
