%section.admin
  %h3 Страница MYPAGE - страница Юзера: вся инфа о Юзере, настройки и т.д.
  -#%div
  -#  %p
  -#    @first_var: #{@first_var.inspect}
  -#  %p
  -#    @navigation_var: #{@navigation_var.inspect}
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
