%section.admin
  %h4 Страница NEWS - уведомления о предложениях подтвердить совпадения, новости и другие обновления Юзера
  %div
    -#%p
    -#  @navigation_var: #{@navigation_var.inspect}
    -#%p
    -#  @first_var: #{@first_var.inspect}
    %p
      @updates_count: #{@updates_count.inspect}
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
