%section
  %h2 Страница REGISTRATION - регистрация Юзера
  %h4 Здесь происходит регистрация Юзера и переход на Главную для основной работы
  %div
    %p
      @navigation_var: #{@navigation_var.inspect}
    / <p>@first_var: <haml:loud> @first_var.inspect </haml:loud></p>
  %form.form-horizontal{:role => "form"}
    .form-group
      %label.col-sm-2.control-label{:for => "inputEmail3"} Электронная почта
      .col-sm-10
        %input#inputEmail3.form-control{:placeholder => "Введите электронную почту", :type => "email"}/
    .form-group
      %label.col-sm-2.control-label{:for => "inputPassword3"} Пароль
      .col-sm-10
        %input#inputPassword3.form-control{:placeholder => "Введите пароль", :type => "password"}/
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            %input{:type => "checkbox"}/
            Запомнить меня
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{:type => "submit"} Зарегистрироваться
  %p
    Переход на Главную страницу:  #{link_to "Переход на Главную -->", pages_main_path}
  %p
    Переход на страницу Админа:  #{link_to "Переход к Админу -->", pages_admin_path}
  %p
    Возврат на страницу Старт:  #{link_to "Возврат в Старт -->", pages_start_path}
