<section >


  <h2> Страница REGISTRATION - регистрация Юзера </h2>


  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
  </div>

  <p>Здесь происходит регистрация Юзера и переход на Главную для основной работы %> </p>
  <p>Переход на Главную страницу:  <%= link_to "Переход на Главную -->", pages_main_path %> </p>

  <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
