%section.admin
  %h2 Страница SEARCH - поиск среди профилей и юзеров
  %h4
    Переход на Главную страницу:  #{link_to "Главная -->", main_page_path}
  %h4
    Переход на страницу Регистрации:  #{link_to "Регистрация -->", user_registration_path}
