%section.admin
  %h2 Страница SEARCH - поиск среди профилей и юзеров
  %div
    %p
      @navigation_var: #{@navigation_var.inspect}
    %p
      @first_var: #{@first_var.inspect}
  %p Здесь происходит вход зарегенного Юзера и переход на Главную для основной работы
  %p
    Переход на Главную страницу:  #{link_to "Переход на Главную -->", pages_main_path}
  %p или если Юзер незарегенный, то переход в Старт для ввода БК
  %p
    Переход на страницу Старт:  #{link_to "Переход в Старт -->", pages_start_path}
