
<section >

  <h2> Страница START - ввод стартового дерева - Ближний Круг </h2>


  <div>
    <p>@first_var: <%= @first_var.inspect %></p>
  </div>


  <p>Возврат на страницу Логин:  <%= link_to "Возврат в Логин -->", pages_login_path %> </p>
  <p>Переход на страницу Регистрации:  <%= link_to "Переход к Регистрации -->", pages_registration_path %> </p>

  <p>Переход на страницу Админа:  <%= link_to "Переход к Админу -->", pages_admin_path %> </p>


</section>
