%section.admin

  %h2
    Страница ADMIN  < Служебный метод 2 >

  %p
    Массив профилей: @test_string_2: #{@test_string_2.inspect}
  %p
    Массив профилей: @var_qty_2: #{@var_qty_2.inspect}




  %h3
    =link_to 'Возврат на страницу Админ:', admin_path
