%section.admin

  %h2
    Страница ADMIN  < Служебный метод 1 >

  %p
    Массив профилей: @test_string_1: #{@test_string_1.inspect}
  %p
    Массив профилей: @var_qty_1: #{@var_qty_1.inspect}


  %h3
    =link_to 'Возврат на страницу Админ:', admin_path
