%h2 Как вас зовут?

.control
  = text_field_tag "author[name]", current_author.name, class: [:autocomplete_field], placeholder: "Ваше имя...", data:{names: Name.all.map{|n| n.name} }
  .help-text Ваше официальное имя, как в паспорте
