%h2 Как зовут брата?
.input-help-block Введите имя того человека, которого вы и ваши родные считаете вашим братом.
.fields= render 'welcome/form/members_fields', members: current_author.family.brothers
