- if current_author.male?
  %h2 Как зовут вашу жену?
- else
  %h2 Как зовут вашего супруга?

- if current_author.male?
  -# Жена
  = render 'welcome/form/members_fields', members: current_author.family.wives
- else
  -# Муж
  = render 'welcome/form/members_fields', members: current_author.family.husbands
