- if current_author.male?
  %h2 Как зовут вашу жену?
  .input-help-block Введите имя того человека, которого вы и ваши родные считают вашей женой.
- else
  %h2 Как зовут вашего супруга?
  .input-help-block Введите имя того человека, которого вы и ваши родные считают вашим мужем.

- if current_author.male?
  -# Жена
  .fields= render 'welcome/form/members_fields', members: current_author.family.wives
- else
  -# Муж
  .fields= render 'welcome/form/members_fields', members: current_author.family.husbands
