%h2 Как зовут дочку?

- if current_circle.daughters.nil?
  .control
    = text_field_tag "circle[daughters][]", params[:name], class: :autocomplete_field_names, placeholder: "Начните вводить ваше имя...", data:{names: @names}
- else
  - current_circle.daughters.each do |daughter|
    .control
      = text_field_tag "circle[daughters][]", daughter, class: :autocomplete_field_names, placeholder: "Начните вводить ваше имя...", data:{names: @names}

.control
  = link_to 'У меня есть еще дочка', '#', id: :clone
