%h2 Как зовут вашего отца?
.control
  = text_field_tag "circle[father]", current_circle.father, class: :autocomplete_field_names_male, placeholder: "Имя отца...", data:{names: @names_male}
  .help-text Официальное имя, как в паспорте
