!!!
%html
  %head
    %title Weafam INVITATION EMAIL
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/



  %body
    #main
      %h3
        Получатель: #{@email_name}.
      %h2
        Week manifest - Hello,  #{@user_name}.




    -#
-#Алексей, мы обсудили с Денисом и поняли что нам в письме нехватает некоторых вещей.
-#Гляди - первое - нужно указать людям на НЕПРОЧИТАННЫЕ сообщения в их чатах (если конечно они есть).
-#Второе - более важное - это напоминать определенным людям о следующем шаге на сайте. Вот ситуация - человека пригласили.
-# Он зарегестрировался и вышел. после этого его нашел поиск и повисли запросы на объединение. но у этого человека в дереве
-#  ничего не происходит - у него не меняется статистика, у него нет сообщений. он возможно на сайт и больше не придет.
-#  наша идея - напомнить ему выслав это наше еженедельное письмо. Сделать это в случае даже если у него статистика не поменялась,
-#   но есть НЕОТВЕЧЕННЫЙ запрос (или несколько) на объединения.
-#
-#Конечно блоки в этом письме (заголовки блоков) должны быть только если есть что в этом блоке показывать.
-# ну например если информации о "Предстоящих событиях" нет, то и раздела этого не должно быть.
-#
-#Ниже я переписал текст письма с учетом этих идей. Пожалуйста бери в работу этот вариант.
-#
-#>>>>>>>>>>>>>>>>>>>>>
-#
-#Тема: Новости вашей родни
-#Текст:
-#
-#Уважаемый, хххх
-#
-#Автоматические новости вашей родни от проекта мывсеродня.рф.
-#
-#Предстоящие события:
-#
-#<ВСТАВИТЬ ФОТО> 12 ноября 2015 - 70 День Рождения Дмитрий Кузнецов
-#
-#  Непрочитанные сообщения вам:
-#
-#  От Мария: сообщение начинающееся со слов: "Привет, крутой проек.." <вставляем в письмо первые 20 символов первого нечитанного сообщения>
-#  От Сергей Селезнев: сообщение начинающееся со слов: "я был на дне рожде..."
-#
-#  Ожидающие вашей реакции запросы на объединение деревьев от других пользователей проекта:
-#
-#  От Евгения Курилкина (в его дереве 45 чел.)
-#  От Сергея Кургиняна (в его дереве 1024 чел.)
-#
-#Информация:
-#
-#Сейчас в вашем дереве - 120 чел., из них - 5 активных пользователей проекта.
-#За прошедший период добавилась информация о 10 чел., из них 2 пользователей.
-#Новые активные участники:
-#
-#<ВСТАВИТЬ ФОТО> Сергей Митин (Минск)
-#<ВСТАВИТЬ ФОТО> Людмила (Минск)
-#
-#Произошло 1 объединений деревьев, которое добавило в ваше дерево информацию о 5 чел.
-#
-#Ваша родня написала новых сообщений друг другу: 18
-#
-#  Добавилось новых фотографий: 14
-#
-#Всего на сайте информация о 190 чел., из них - 20 активных пользователей.
-#
-#Продолжайте добавлять и приглашать новых родственников, посмотрите новые фото, общайтесь, узнавайте о прошлом и настоящем своей семьи  - объедините всю свою родню по всему миру!
-#
-#
-#-#------------------------------------------
-#С уважением и благодарностью,
-#команда проекта "Мы все - Родня!"
