//:javascript
//  $(function(){
//    var
//$('.arrays').append('profilesRewrite = ' + profilesRewrite);
//if (current_question_index == 0){
//  $('#showPreviousQuestion').hide();
//}

//  })



%br

.disconnect
  %h2 Разъединение объединенных "Похожих" профилей
  %br

  = link_to 'Разъединить', disconnect_similars_path( log_connection_id: @log_connection_id), method: :post, remote: true, class: [:bttn, :blue], id: 'disConnectSimilars'
.after_disconnect
  %h2