<h1>У вас есть дочери?</h1>

<!-- ng-form -->
<div ng-repeat="daughter in family.daughters" class="control">
  <a ng-click="removeDaughter($index)" class="remove-field">удалить</a>
  <angucomplete-alt id="sons"
                placeholder="Начните вводить имя..."
                pause="100"
                selected-object="family.daughters[$index]"
                remote-url="/autocomplete/names?sex_id=0&term="
                title-field="title"
                initial-value="{{daughter.title}}"
                input-class="" />

</div>
<div class="control add">
  <a ng-click="addDaughter()" class="add">Да, добавить дочь</a>
</div>
<div class="actions">
  <a ui-sref="form.sons"    class="bttn silver right">Назад</a>
  <a ui-sref="form.wife"    class="bttn green left"    ng-show="hasWife()">Дальше</a>
  <a ui-sref="form.husband" class="bttn green left" ng-show="hasHusband()">Дальше</a>
</div>
