<h1>У вас есть братья?</h1>

<!-- ng-form -->
<div ng-repeat="brother in family.brothers" class="control">
  <div class="warning" ng-hide="isNameValid(brother)">
    <i class="fa fa-question-circle"></i>
    Пожалуйста, выберите имя из списка
  </div>
  <div class="success" ng-show="isNameValid(brother)">
    <i class="fa fa-thumbs-up"></i>
    Отлично, можно двигаться дальше...
  </div>
  <a ng-click="removeMember($index, 'brothers', $model)" class="remove-field">удалить</a>
    <input type="text"
           ng-model="brother"
           ng-change="changeMultipleName('brothers', $index)"
           typeahead-on-select="onMultipleSelectName($model, 'brothers', $index)"
           placeholder="Начните вводить имя..."
           typeahead="item as item.name for item in getNames($viewValue, 1)"
           typeahead-editable="false"
           typeahead-loading="loading..."
           typeahead-template-url="customDropDownTemplate.html"
           autoFocus>
</div>
<div class="control add">
  <a ng-click="addMember('brothers')" class="bttn small">+ Добавить брата</a>
</div>
<div class="actions">
  <a ui-sref="form.mother" class="bttn silver right">Назад</a>
  <button ui-sref="form.sisters" class="bttn green left" ng-disabled="!isAllNamesValid(family.brothers)">Дальше</button>
</div>
