<h1>У вас есть сёстры?</h1>

<!-- ng-form -->
<div ng-repeat="sister in family.sisters" class="control">
  <div class="warning" ng-hide="isNameValid(sister)">
    <i class="fa fa-question-circle"></i>
    Пожалуйста, выберите имя из списка
  </div>
  <div class="success" ng-show="isNameValid(sister)">
    <i class="fa fa-thumbs-up"></i>
    Отлично, можно двигаться дальше...
  </div>
  <a ng-click="removeMember($index, 'sisters')" class="remove-field">удалить</a>
  <input type="text"
         ng-model="sister"
         ng-change="changeMultipleName('sisters', $index)"
         typeahead-on-select="onMultipleSelectName($model, 'sisters', $index)"
         placeholder="Начните вводить имя..."
         typeahead="item as item.name for item in getNames($viewValue, 0)"
         typeahead-editable="false"
         typeahead-loading="loading..."
         typeahead-template-url="customDropDownTemplate.html"
         autoFocus>

</div>
<div class="control add">
  <a ng-click="addMember('sisters')" class="bttn small">Да, добавить сестру</a>
</div>
<div class="actions">
  <a ui-sref="form.brothers" class="bttn silver right">Назад</a>
  <button ui-sref="form.sons" class="bttn green left" ng-disabled="!isAllNamesValid(family.sisters)">Дальше</button>
</div>
