<h2 class="info">
  Поставьте в лист ожидания адрес электронной почты человека, родство с которым Вас интересует. Как только родство будет подтверждено, мы сообщим Вам об этом.
</h2>
<h1>Как зовут вашего деда по матери?</h1>

<div ng-show="hasError('mother_father')" class="error">
  {{family.mother_father.error}}
</div>
<div ng-show="hasNewName('mother_father')" class="warning">
  Если вы хотите продолжить с этим именем, пожалуйста, подтвердите:
  <br>
  <button class="bttn green small" ng-click="confirmNewName('mother_father', 1)">Да, продолжить</button>
  <button class="bttn red small" ng-click="resetNewName('mother_father')">Нет</button>
</div>

<div class="control">
  <input type="text"
          ng-model="family.mother_father"
          ng-change="changeName('mother_father', family.mother_father)"
          ng-value="name"
          typeahead-on-select="onSelectName($model, 'mother_father')"
          placeholder="Начните вводить имя, например: Владимир"
          typeahead="item as item.name for item in getNames($viewValue, 1)"
          typeahead-editable="true"
          typeahead-loading="loading..."
          typeahead-template-url="customDropDownTemplate.html">
</div>
<div class="actions">
  <a ui-sref="form.father-mother" class="bttn silver right">Назад</a>
  <button ng-click="validateName('mother_father')" class="bttn green left">Дальше</button>
</div>
