<h1>Как зовут вашего отца?</h1>

<div class="control">
  <input type="text"
         ng-model="family.father"
         ng-change="changeName('father')"
         ng-value="name"
         typeahead-on-select="onSelectName($model, 'father')"
         placeholder="Начните вводить имя..."
         typeahead="item as item.name for item in getNames($viewValue, 1)"
         typeahead-editable="false"
         typeahead-loading="loading"
         autoFocus>
</div>

<div class="actions">
  <a ui-sref="form.author" class="bttn silver right">Назад</a>
  <button ui-sref="form.mother" ng-disabled="!isFatherValid()" class="bttn green left">Дальше</button>
</div>
