<!-- <div class='navigation'>
  <a ui-sref-active="active" ui-sref=".author"><span>1</span></a>
  <a ui-sref-active="active" ui-sref=".father"><span>2</span></a>
  <a ui-sref-active="active" ui-sref=".mother"><span>3</span></a>
  <a ui-sref-active="active" ui-sref=".brothers"><span>4</span></a>
</div> -->

<form id="welcome-dialog">
  <div id="form-views" ui-view></div>
</form>


<div class='navigation'>
  <a ui-sref-active="active" ui-sref=".author">1</a>
  <a ui-sref-active="active" ui-sref=".father"><span>2</span></a>
  <a ui-sref-active="active" ui-sref=".mother"><span>3</span></a>
  <a ui-sref-active="active" ui-sref=".brothers"><span>4</span></a>
  <a ui-sref-active="active" ui-sref=".sisters"><span>5</span></a>
  <a ui-sref-active="active" ui-sref=".sons"><span>6</span></a>
  <a ui-sref-active="active" ui-sref=".daughters"><span>7</span></a>
  <a ui-sref-active="active" ui-sref=".wife"><span>8</span></a>
  <a ui-sref-active="active" ui-sref=".email"><span>9</span></a>
</div>

<!-- <small>
{{family}}
</small> -->
