<h1>Ваш email:</h1>


<div ng-show="welcomeForm.email.$invalid" class="warning">
   Введите ваш действующий адрес
</div>

<div class="control">
  <input ng-model="family.email"
         type="email"
         name="email"
         ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
         required
         autoFocus>
         {{error}}
</div>
<div class="actions">
  <a ui-sref="form.wife" class="bttn silver right"     ng-show="hasWife()">Назад</a>
  <a ui-sref="form.husband" class="bttn silver right"  ng-show="hasHusband()">Назад</a>
  <span class="spinner left ion-ios7-reloading" ng-show="loading"></span>
  <button ng-disabled="welcomeForm.email.$invalid" ng-click="submitData()" class="bttn green left" ng-show="!(loading)">Дальше</a>
</div>
