<h1>Как зовут вашу маму?</h1>
<div class="control">
  <input type="text"
         ng-model="family.mother"
         ng-change="changeName('mother')"
         ng-value="name"
         typeahead-on-select="onSelectName($model, 'mother')"
         placeholder="Начните вводить имя..."
         typeahead="item as item.name for item in getNames($viewValue, 0)"
         typeahead-editable="false"
         typeahead-loading="loading"
         autoFocus>
</div>
<div class="actions">
  <a ui-sref="form.father" class="bttn silver right">Назад</a>
  <button ui-sref="form.brothers" ng-disabled="!isMotherValid()" class="bttn green left">Дальше</button>
</div>
