<h1>У вас есть муж?</h1>
<div class="control">
  <div class="warning" ng-hide="isNameValid(family.husband)">
    <i class="fa fa-question-circle"></i>
    Пожалуйста, выберите имя из списка
  </div>
  <div class="success" ng-show="isNameValid(family.husband)">
    <i class="fa fa-thumbs-up"></i>
    Отлично, теперь нажмите кнопку далее...
  </div>
  <input type="text"
         ng-model="family.husband"
         ng-change="changeName('husband')"
         ng-value="name"
         typeahead-on-select="onSelectName($model, 'husband')"
         placeholder="Начните вводить имя..."
         typeahead="item as item.name for item in getNames($viewValue, 1)"
         typeahead-editable="false"
         typeahead-loading="loading..."
         typeahead-template-url="customDropDownTemplate.html"
         autoFocus>
</div>
<div class="actions">
  <a ui-sref="form.daughters" class="bttn silver right">Назад</a>
  <a ui-sref="form.email" class="bttn green left" ng-disabled="!isNameValid(family.husband)">Дальше</a>
</div>
