<h2 class="info">
  Таким образом, Ваше окружение будет расширяться до тех пор, пока в него не войдут все жители Земли.
</h2>

<h1>У вас есть супруга?</h1>

<div ng-show="hasError('wife')" class="error">
  {{family.wife.error}}
</div>
<div ng-show="hasNewName('wife')" class="warning">
  Если вы хотите продолжить с этим именем, пожалуйста, подтвердите:
  <br>
  <button class="bttn green small" ng-click="confirmNewName('wife', 0)">Да, продолжить</button>
  <button class="bttn red small" ng-click="resetNewName('wife')">Нет</button>
</div>

<div class="control">
  <input type="text"
          ng-model="family.wife"
          ng-change="changeName('wife', family.wife)"
          ng-value="name"
          typeahead-on-select="onSelectName($model, 'wife')"
          placeholder="Начните вводить имя, например: Вероника"
          typeahead="item as item.name for item in getNames($viewValue, 0)"
          typeahead-editable="true"
          typeahead-loading="loading..."
          typeahead-template-url="customDropDownTemplate.html">
</div>
<div class="actions">
  <a ui-sref="form.daughters" class="bttn silver right">Назад</a>
  <button ng-click="validateName('wife')" class="bttn green left">Дальше</button>
</div>
