<h2 class="info">Если вы не нашли сейчас, то Ваша родня будет найдена среди новых участников проекта в ближайшее время.</h2>
<h1>У вас есть дочери?</h1>
<!-- ng-form -->
<div ng-repeat="daughter in family.daughters">

  <div ng-show="hasError('daughters', $index)" class="error">
    {{daughter.error}}
  </div>

  <div ng-show="hasNewName('daughters', $index)" class="warning">
    Если вы хотите продолжить с этим именем, пожалуйста, подтвердите:
    <br>
    <button class="bttn green small" ng-click="confirmNewName('daughters', 0, $index)">Да, продолжить</button>
    <button class="bttn red small" ng-click="resetNewName('daughters', $index)">Нет</button>
  </div>

  <div class="control">
    <a ng-click="removeMember($index, 'daughters')" class="remove-field">удалить</a>
    <input type="text"
    ng-model="family.daughters[$index].name"
    ng-change="changeMemberName('daughters', $index, family.daughters[$index].name)"
    typeahead-on-select="onMultipleSelectName($model, 'daughters', $index)"
    placeholder="Начните вводить имя, например: Ирина"
    typeahead="item as item.name for item in getNames($viewValue, 0)"
    typeahead-editable="true"
    typeahead-loading="loading..."
    typeahead-template-url="customDropDownTemplate.html"
    autoFocus >
  </div>

</div>

<div class="control add">
  <a ng-click="addMember('daughters')" class="bttn blue small">+ добавить дочь</a>
</div>


<div class="actions">
  <a ui-sref="form.sons" class="bttn silver right">Назад</a>
  <button ng-click="validateNames('daughters')" class="bttn green left">Дальше</button>
</div>
