<h1>У вас есть супруга?</h1>
<div class="control">
  <angucomplete-alt id="wife"
                placeholder="Начните вводить имя..."
                pause="100"
                selected-object="family.wife"
                remote-url="/autocomplete/names?sex_id=0&term="
                title-field="name"
                initial-value="{{wife.name}}"
                input-class="" />
</div>
<div class="actions">
  <a ui-sref="form.daughters" class="bttn silver right">Назад</a>
  <a ui-sref="form.email" class="bttn green left">Дальше</a>
</div>
