{{family | json }}
<form name="welcomeForm">
  <i id="dragger" class="fa fa-arrows-alt"></i>
  <div id="form-views" ui-view></div>
</form>

<div class='navigation'>
  <a ui-sref-active="active" ui-sref=".author">1</a>
  <a ui-sref-active="active" ui-sref=".father">2</a>
  <a ui-sref-active="active" ui-sref=".mother">3</a>
  <a ui-sref-active="active" ui-sref=".brothers">4</a>
  <a ui-sref-active="active" ui-sref=".sisters">5</a>
  <a ui-sref-active="active" ui-sref=".sons">6</a>
  <a ui-sref-active="active" ui-sref=".daughters">7</a>
  <a ui-sref-active="active" ui-sref=".wife" ng-show="hasWife()">8</a>
  <a ui-sref-active="active" ui-sref=".husband" ng-show="hasHusband()">8</a>
  <a ui-sref-active="active" ui-sref=".email">9</a>
</div>

<script type="text/ng-template" id="customDropDownTemplate.html">
<a>
  <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  <span ng-if="match.model.parent_name" bind-html-unsafe="match.model.parent_name" class="parent_name"></span>
</a>
</script>
