<h1>У вас есть сёстры?</h1>

<!-- ng-form -->
<div ng-repeat="sister in family.sisters" class="control">
  <a ng-click="removeSister($index)" class="remove-field">удалить</a>
  <angucomplete-alt id="sisters"
                placeholder="Начните вводить имя..."
                pause="100"
                selected-object="family.sisters[$index]"
                remote-url="/autocomplete/names?sex_id=0&term="
                title-field="name"
                initial-value="{{sister.name}}"
                input-class="" />

</div>
<div class="control add">
  <a ng-click="addSister()" class="add">Да, добавить сестру</a>
</div>
<div class="actions">
  <a ui-sref="form.brothers" class="bttn silver right">Назад</a>
  <a ui-sref="form.sons" class="bttn green left">Дальше</a>
</div>
