.flash{
  padding:10px 0;
  color:#fff;
  margin-bottom:0;

  &.notice{
    background-color:#14af42;
    color:#fff;
  }


  &.alert{
    background-color:#e54467;
    color:#fff;
  }

  .close{
    float:right;
    color:#fff;
  }
}
