#graph-wrapper{
  width:100%;
  height:100%;
  border:1px solid grey;
  position:absolute;
  top:0;
  left:0;
  z-index:-1;
}

#graph{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;

  text {
    pointer-events: none;
    stroke-width: 0;
  }


  .node{
    circle{
      cursor:pointer;
      stroke-width: 0; fill:#ccc;
    }
    &.current circle{fill:green;}
    .name{}
  }


  .link {
    stroke: #ccc;
    stroke-width: 1px;
  }


  .relation{
    .label{
      font-size:12px;
      fill:grey;
    }
  }
}
