#profile-context-menu{
  position:absolute;
  display:inline-block;

  left:50%;
  top:40%;

  margin-left:50px;
  margin-top:-12px;

  background-color:#fff;
  border-radius:4px;
  // overflow:hidden;

  box-shadow:0 0 8px rgba(0,0,0,0.7);

  width:280px;

  // Arrows
  &:before {
     position: absolute;
     top:10px;
     left: -13px;
     display: block;
     border-top: 12px solid transparent;
     border-bottom: 12px solid transparent;
     border-right: 12px solid rgba(0,0,0,0.4);
     content: '';
  }

  &:after {
     position: absolute;
     top:10px;
     left: -12px;
     display: block;
     border-top: 12px solid transparent;
     border-bottom: 12px solid transparent;
     border-right: 12px solid #fff;
     content: '';
  }
}



#profile-context-menu ul > li:first-child a{border-radius:4px 4px 0 0;}
#profile-context-menu ul > li:last-child a{border-radius:0 0 4px 4px;}


#profile-context-menu a{

  text-decoration:none;
  display:inline-block;
  padding:10px;
  color:blue;
  width:100%;
  border-bottom:1px solid #ccc;

  &:hover{
    background-color:blue;
    color:#fff;
  }
}




#profile-context-menu ul{
  li{
    display:block;
  }
}


// nested list
#profile-context-menu ul li > ul{
  font-size:12px;
  background-color:#ddd;
  a{
    padding-left:24px;
    border-radius:0 0 0 0 !important;}
}




//  Form in context menu
#profile-context-menu .context-menu-form{
  h2{
    font-size:16px;
    font-weight:bold;
    padding:10px;
    width:100%;
    border-bottom:1px solid #ccc;
  }


  a#showPreviousQuestion{
    font-size:12px;
    border-bottom:none;
    &:hover{
      background-color:transparent;
      color:green;
    }
  }

  form{
    padding:10px;

  }

  form .row{
    width:100%;
    margin-bottom:20px;
  }

  form .actions{
    width:100%;
  }

  form input[type='text']{
    font-size:14px;
    padding:6px;
    width:100%;
  }


  form .question{
    margin-bottom:6px;
    .text{
      font-size:16px;
      margin-bottom:6px;
    }
  }
}
