.tooltip {
    position: absolute;
    border: 1px solid rgb(11, 172, 134);
    background: #fff;
    padding: 4px 10px;
    font-size: 1em;
    max-width: 350px;
    color: #006a51;
    display: none;
    text-align: center;
    z-index: 10500;
    border-radius: 3px;
}
