#dialog_graph
  - @profiles_json = "{'author':#{current_author.to_json.to_s}}"

%script{ :type => 'text/javascript', :defer => 'defer' }
  :plain
    var kinetic = {
      container: 'dialog_graph',
      width: $('#welcome-form').width() * 0.55 - 2,
      height: 400,
      scale: 22,
      ajax: false,
      draggable: true
    };

    var tree = {
      json: #{@profiles_json},
      ydeviation: 0,
      xdeviation: -12
    };

    var constructTree = new reTree(tree, kinetic);

%div{ :style => 'display:none;'}
  #{@profiles_json}
